body{
    background: url(table.png);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}
button{
    color: green;
    background-color: yellow;
    font-size: xx-large;
}
h1{
    color: yellow;
}
p{
    color: white;
}
#reset{
    margin-top: 20px;
}
#instruction{
    display: block;
    position: absolute;
    margin-left:1000px ;
    font-size:20px;
    border-style: dotted;
    border-radius: 50px;
    padding: 30px;
    
}